@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");

* {
  font-size: 100%;
  font-family: Inter;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
